.svn
.project
.classpath
.factorypath
.idea
.gradle
*.log
*.imi
*.bak
.apt_generated/
.apt_generated_tests/
.settings/
.metadata/
gradlew
gradlew.bat
gradle/
classes/
build/
bin/
out/
logs/
src/main/generated/